body {
    font-family: Arial, sans-serif;
}

#videoPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-top: 50px;
}


footer {
    text-align: center;
    padding: 20px 0;
}
